################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Properties
/obj
/bin/Debug/net6.0-windows
/.vs
